<div id="" class="" style="background-color: lightgrey; width: 100%; height: 450px; position: relative;">
    <div class="" style="position: absolute; color: rgba(36, 36, 36, 0.651); left: 5%; top: 50%; transform: translate(0, -50%);">
        <div class="logo mb-5">
            <img src="../../../assets/angular-logo.png" width="100%" height="100%" style="object-fit: cover;" alt="angular logo">
        </div>
        <h1>Angular Part One</h1>
        <p>First steps to single page applications</p>
    </div>
  </div>