<div class="overlay" (click)="closeModal.emit()">
</div>
<div class="container d-flex justify-content-center">
  <form class="shadow-sm p-3 mb-5 bg-body rounded" style="width: 600px;">
    <h2>STUDENT NAME GOES HERE</h2>
        <div class="row">
          <ul style="background-color: lightgray; list-style: none; display: flex; flex-direction: column; gap: .5rem;"  *ngIf="student">
            <li>Name: {{student.name}}</li>
            <li>Surname: {{student.surname}}</li>
            <li>Email: {{student.email}}</li>
            <li>Address: {{student.address}}</li>
            <li>Note: {{student.note}}</li>
            <li>Date of Birth: {{student.dateOfBirth | date: 'longDate'}}</li>
          </ul>
        </div>
      </form>
</div>